.App {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

form {
  width: 500px;
  border: 1px solid #ccc;
  padding: 50px;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type='text'], 
input[type='email'],
input[type='password'],
textarea, select, radio {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

.form-control {
  margin-bottom: 20px;
  width: 430px;
}

.error {
  color: red;
}

button {
  color: black;
  background-color: whitesmoke;
  border-radius: 5px;
  border-color: #ccc;
  outline: none;
  padding: 5px;
}

.text-input-wrapper {
        position: fixed;
        bottom: 0;
        left: 32px;
        right: 0;
        z-index: 10;
        justify-content: 10;
        background: transparent;
        padding: 4px;
        width: 100%;
}

.input-container {
  background: white;
  border-radius: full;
  align-items: center;
  box-shadow:  2px 10px rgba(0,0,0,0.1);
}

.prompt-container {
  font-size: 20px;
  padding: 2px;
  border-radius: full;
}

.chatroom-wrapper {
  background-color: #f6f3f1;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink {
  text-decoration: none;
  color: black;
}

.sidebar-list-wrapper {
  list-style: none;
}

.sidebar-list-wrapper .sidebar-list-item::marker {
  content: '- ';
  font-weight: bold;
  color: yellowgreen;
}